<!--<div class="container" id="myid">
    <div class="row">
        <div class="col-md-3" *ngFor="let s of items">
            <div class="image-container">
                <img [src]="s.productImage" alt="Product">
                <a routerLink="#" (click)="openView()">
                <div class="hover-overlay">
                    <button class="hover-button">View More</button>
                </div>
                </a>
            </div>     
            <p>{{s.productName}}</p> 
        </div>
    </div>
</div>-->
