<div class="div">
    <div class="container">
        <div class="row">
            <div class="col-md-4 div1">
                <form action="" ngNativeValidate (ngSubmit)="checkLogin()">
                    <div class="form-group">
                        <label for="" class="form-label">username</label>
                        <input type="text" name="uname" class="form-control" [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">password</label>
                        <input type="text" name="pwd" class="form-control" [(ngModel)]="password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-secondary b1" type="submit">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

